# chatgpt_pe folder

# data_collection folder
data_collection/data/*

# fine_tuning folder
fine_tuning/models
fine_tuning/results
fine_tuning/wandb

# scratch_model folder
scratch_model/scratch-model-*
scratch_model/models

# text_search folder
text_search/models
text_search/data

# evaluate folder
evaluate/data

# mac specific
.DS_Store

# other
__pycache__
model
embeddings.pickle
.vscode